{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-6 text-justify">
				<p>
					This blog is for anyone who loves food and for everyone who doesn't.
				</p>
				<p>
					Fun! Food and fun come together in this blog because everything about food should be fun: eating it, making it and even making a mess of it. In this blog, you can find out about new dishes that you might not have heard before. Users can post about dishes that they have tried or have heard about so that people who are looking for something new to try can check it out and decide for themselves if they might be intersted in trying trying it out for themselves.
				</p>
				<p>
					Now, let's go have some fun finding out about new food!
				</p>
			</div>
			<div class="col-6">
				<img src="{{ asset('images/about.jpg') }}" />
			</div>
		</div>
	</div>
{% endblock %}
