{{ form_start(search) }}
    <div class="row">
        <div class="col">
            {{ form_row(search.general_search) }}
        </div>

        <div class="col">
            {{ form_row(search.search_submit) }}
        </div>
    </div>
{{ form_end(search) }}